.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.env
!.env.example
.react-router
build
auto-imports.d.ts
*.tsbuildinfo

# Netlify specific
.netlify
*storybook.log
